[submodule "libraries/am"]
	path = libraries/am
	url = ../am.git
[submodule "libraries/basis"]
	path = libraries/basis
        branch = feature/shared_ptr
	url = ../basis
[submodule "libraries/mcutils"]
	path = libraries/mcutils
	url = ../mcutils
[submodule "libraries/fmt"]
	path = libraries/fmt
	url = ../fmt
        shallow = true
[submodule "libraries/cppitertools"]
	path = libraries/cppitertools
	url = ../cppitertools.git
[submodule "config/ndmakefile"]
	path = config/ndmakefile
	url = ../ndmakefile.git
