[submodule "libraries/am"]
	path = libraries/am
	url = ../am.git
[submodule "libraries/basis"]
	path = libraries/basis
	url = ../basis
[submodule "libraries/mcutils"]
	path = libraries/mcutils
	url = file:///cygdrive/c/work/projects/mcutils.git
