[submodule "libraries/am"]
	path = libraries/am
	url = ../am.git
[submodule "libraries/basis"]
	path = libraries/basis
	url = ../basis
[submodule "libraries/mcutils"]
	path = libraries/mcutils
	url = ../mcutils
[submodule "config/ndconfig"]
	path = config/ndconfig
	url = ../ndconfig
[submodule "config/ndmakefile"]
	path = config/ndmakefile
	url = ../ndmakefile
