# general patterns
*.[oa]
*~
*.mod
.DS_Store 

# temporary diagnostic output files
*.out

# draconian ignore -- doesn't work?
#   only track: .mk .h .cpp .F
## !*.{mk,h,cpp,F}

config.mk

bin/


# specific executables
libraries/su3lib/su3genbk
libraries/sp3rlib/su3_coupler
*_test
*.exe
*.dSYM
